.section-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}


/* stay fucas section start  */
.flexible-container {
    display: flex;
}

.stay-fucas-section-heading {
    font-size: 60px;

}

.half-width {
    width: 50%;
    margin-left: 40px;
}

.half-width img {
    width: 80%;
}

.orange-colour-font {
    color: orange;
}

.common-button {
    background-color: #FF5959;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 50px;
    color: white;
}

#stay-focas-scroll-down {
    margin-top: 20px;
}

/* stay fucas section end  */

/* mission 2022 section start */
.mission-2022-heading {
    font-size: 48px;
    text-align: center;
}

.font-family-popins {
    font-family: 'Poppins', sans-serif;
}

.mission-item {
    width: 360px;
    height: 376px;
    border-radius: 26px;
    padding: 12px 13px 45px 32px;
}

.mission-item img {
    height: 126px;
    width: 126px;
}

.mission-item p {
    text-align: justify;
}

#mission-item-mission {
    background: rgba(79, 157, 166, 0.1);
}

#mission-item-vission {
    background: rgba(255, 89, 89, 0.1);
    margin-left: 24px;
    margin-right: 24px;
}

#mission-item-goals {
    background: #FFF4D6;
}

/* mission 2022 end  */
/* devlop without limit section start  */

.two-items-on-section .items-of-two-items img {
    width: 400px;
    height: 400px;
}

.items-of-two-items-left-item {
    margin-right: 72px;
}

/* devlop without limit section finish  */